@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL,CRSV,MONO@300..800,1,1,1&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Recursive", sans-serif;

$footer-background-color: hsl(0, 0%, 96%);
$footer-padding: 1rem 2.5rem;

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/form/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/helpers/_all";
@import "../node_modules/bulma/sass/layout/_all";
